<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="leason.wayout">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/NoTitle">

        <activity
            android:name=".StartActivity"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConnectActivity"
            android:theme="@style/connectTheme"/>
        <activity android:name=".PasswordActivity"
            android:theme="@style/passwordTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/mainTheme" />
        <activity
            android:name=".DetailActivity"
            android:theme="@style/detailTheme" />

        <service android:name=".MainService" />
    </application>

</manifest>